@import url('./_add/btn_add.css');
@import url('./_edit/btn_edit.css');
@import url('./__delete/btn__delete.css');
@import url('./__like/btn__like.css');
@import url('./__like/_active/btn__like_active.css');

.btn {
  background-color: transparent;
  cursor: pointer;
  transition: opacity .2s;
}

.btn:hover {
  opacity: 0.6;
}
