@import url('./__add/btn__add.css');
@import url('./__edit/btn__edit.css');
@import url('./__like/btn__like.css');

.btn {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}
