@import url('./_add/btn_add.css');
@import url('./_edit/btn_edit.css');
@import url('./_like/btn_like.css');
@import url('./_send-form/btn_send-form.css');
@import url('./_close-popup/btn_close-popup.css');

.btn {
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .2s;
}

.btn:hover {
  opacity: 0.6;
}
