.btn_like {
  padding: 5px 0 0;
  background-image: url('../../../images/btn/_like.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 27px;
  height: 25px;
  align-self: center;
  border: none;
}
