@import url('./_add/btn_add.css');
@import url('./_edit/btn_edit.css');
@import url('./_delete/btn_delete.css');
@import url('./_like/btn_like.css');
@import url('./_active/btn_like_active.css');

.btn {
  background-color: transparent;
  cursor: pointer;
  transition: opacity .2s;
}

.btn:hover {
  opacity: 0.6;
}
