.form__input-error {
  margin-top: 5px;
  color: red;
  font-size: 12px;
  line-height: 1.3;
  height: 43px;
}

.form__input-error:first-of-type {
  min-height: 23px;
}

@media screen and (max-width: 388px) {
  .form__input-error {
    min-height: 23px;
  }
}
