.btn_add {
  background-image: url('../../../images/btn/_add.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  justify-self: end;
  align-self: center;
}

@media screen and (max-width: 700px) {
  .btn_add {
    justify-self: center;
    width: 282px;
  }
}


@media screen and (max-width: 370px) {
  .btn_add {
    width: 282px;
    margin: 0 auto ;
  }
}

