@import url('./__img/element__img.css');
@import url('./__title/element__title.css');
@import url('./__discription/element__discription.css');
@import url('./__btn-img/element__btn-img.css');


.element {
  width: 282px;
  border-radius: 10px;
  background-color: white;
  color: black;
  justify-self: center;
  list-style: none;
  position: relative;
}

