.popup__btn-close  {
  background-image: url('../../../images/btn/_close.svg');
  background-position: center;
  background-color: transparent;
  width: 41px;
  height: 41px;
  border: none;
  position: relative;
  top: -340px;
  left: calc(100% - 1px);
  margin-right: 1px;
}

.popup__btn-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 505px) {
  .popup__btn-close {
    left: calc(100% - 40px);
  }
}

@media screen and (max-width: 438px) {
  .popup__btn-close {
    top: -369px;
  }
}

@media screen and (max-width: 330px) {
  .popup__btn-close {
    top: -359px;
  }
}
