.btn__close-popup  {
  background-image: url('../../../images/btn/__close.svg');
  background-position: center;
  background-color: transparent;
  width: 41px;
  height: 41px;
  border: none;
  position: relative;
  top: -340px;
  left: calc(100% - 1px);
  transition: opacity .2s;
  margin-right: 1px;
}

.btn__close-popup:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 505px) {
  .btn__close-popup {
    left: calc(100% - 40px);
  }
}

@media screen and (max-width: 438px) {
  .btn__close-popup {
    top: -369px;
  }
}

@media screen and (max-width: 330px) {
  .btn__close-popup {
    top: -359px;
  }
}
