@import url('./__copyright/footer__copyright.css');

.footer {
  margin: 0 0 60px;
  max-width: 882px;
  color: #545454;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 88px;
    max-width: calc(100% - 48px);
  }
}
@media screen and (max-width: 703px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 64px;
    max-width: calc(100% - 32px);
    flex-direction: column;
  }
}
