.btn_edit {
  background-image: url('../../../images/btn/_edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  align-self: end;
  margin-bottom: 13px;
}

@media screen and (max-width: 370px) {
  .btn_edit {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    justify-self: center;
  }
}
