.btn__like {
  padding: 0;
  background-image: url('../../../images/btn/_like.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 23px;
  align-self: center;
}
